# macOS Junk
.DS_Store
._*
.fseventsd
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems


# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
backend/.env
frontend/.env
frontend/yarn.lock
frontend/package-lock.json
frontend/package-lock.json
backend/src/.env
backend/prisma/schema.prisma
backend/package-lock.json
