body {
  font-family: 'Rubik', sans-serif;
  color: #071739;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -60px;
}
body .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
  padding-top: 25px;
  margin-top: -40px;
  overflow: hidden;
}
body .card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
body .card .current-value {
  width: 100%;
}
body .card .current-value label {
  display: inline-flex;
  width: 30px;
  font-size: 15px;
}
body .card .current-value input {
  margin: 0;
  max-width: 50px;
  font-size: 13px;
  color: black;
  padding: 5px;
  border: solid rgb(182, 179, 179) 2px;
  border-radius: 0;
  background: white;
}
body .card .values {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
}
.card > hr {
  margin-top: 20px;
  width: 175px;
  background-color: lightgray;
  border: none;
  height: 1.5px;
}
.values > div {
  font-size: 13px;
}
body .card #slider {
  position: relative;
  margin-left: 12px;
  width: 150px;
  height: 5px;
  background: rgb(254, 234, 184);
  border-radius: 5px;
  cursor: pointer;
}
body .card #slider #min {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: rgb(254, 234, 184);
}
body .card #slider #min:hover::before {
  opacity: 1;
}
body .card #slider #min:hover::after {
  opacity: 1;
}

body .card #slider #min::after {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  right: -8px;
  border-top: 8px solid #f19e31;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
body .card #slider #min #min-drag {
  position: absolute;
  right: -7.5px;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(253, 102, 55);
  transition: all 0.3s;
}
body .card #slider #min #min-drag:hover {
  box-shadow: 0 0 0 6px rgba(241, 233, 121, 0.2);
}
body .card #slider #max {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: rgb(253, 102, 55);
}
body .card #slider #max:hover::before {
  opacity: 1;
}
body .card #slider #max:hover::after {
  opacity: 1;
}

body .card #slider #max::after {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  right: -8px;
  border-top: 8px solid #f19e31;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
body .card #slider #max #max-drag {
  position: absolute;
  right: -7.5px;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(253, 102, 55);
  transition: all 0.3s;
}
.card #slider #max #max-drag:hover {
  box-shadow: 0 0 0 6px rgba(241, 233, 121, 0.2);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 2px #709fdc;
}
