.fivestars,
.fourstars,
.threestars,
.twostars,
.onestar {
  color: rgb(253, 102, 55);
  margin-bottom: 10px;
}

.fourstars:hover,
.threestars:hover,
.twostars:hover,
.onestar:hover {
  background-color: lightgrey;
  width: 150px;
  border-radius: 3px;
}
.fivestars:hover {
  background-color: lightgrey;
  width: 117px;
  border-radius: 3px;
}
.nonestar {
  color: rgb(253, 102, 55);
}
.star > hr {
  width: 175px;
  background-color: lightgray;
  border: none;
  height: 1.5px;
  margin-top: -20px;
  margin-left: 0px;
}

body .star h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.star {
  margin-left: 50px;
}
