@keyframes anima{
    0%{left:    0% ;}
    15%{left:   0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -200%;}
    60%{left: -200%;}
    65%{left: -300%;}
    80%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}
   
}