.filter {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 25px;
  margin-bottom: 0px;
  overflow: hidden;
}
.filter h5{
    margin-left: 52px;
    margin-bottom: 5px;
    
}
.filter img{
    width: 20px;
    margin-left: 210px;
   margin-bottom: -40px;
}