@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

.MuiBadge-badge .MuiBadge-standard{
	background-color: #FD6637 !important;
}